* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
.clear {
  clear: both;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-third {
  width: 33.3333%;
}
.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}
.text-while {
  color: #fff !important;
}
.text-center {
  text-align: center !important;
}
/* #main {
} */
#header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 46px;
  background-color: black;
  z-index: 1;
}
.subnav {
  list-style: none;
}
#nav {
  display: inline-block;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 1px 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #cccc;
}
#nav .subnav {
  display: none;
  top: 100%;
  min-width: 160px;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
  display: block;
}
#nav .bx-chevron-down {
  font-size: 20px;
}
#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#header .mobile-menu-btn,
#header .search {
  float: right;
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
}
#header .mobile-menu-btn:hover {
  background-color: white;
  cursor: pointer;
  color: #000000;
}
#header .search:hover {
  background-color: red;
  cursor: pointer;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/chicago.jpg") top center / cover no-repeat;
}
#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
 
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  margin-top: 25px;
  font-size: 15px;
  text-shadow: 0 0 1px #000000;
}
/* #content {
} */
#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500px;
  letter-spacing: 4px;
}
#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}
#content .members-list {
  margin-top: 48px;
}
#content .members-name {
  font-size: 15px;
}
#content .member-img {
  width: 155px;
  margin-top: 15px;
  border-radius: 4px;
}

.tour-section {
  background-color: black;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}
.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
  background-color: #f44336;
  padding: 3px 4px;
  color: #fff;
  margin-left: 16px;
}
.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  background-color: black;
  margin-top: -3px;
}
.places-list {
  margin-top: 16px;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}
.place-heading {
  font-size: 15px;
  font-weight: 600px;
}
.place-time {
  color: #757575;
  margin-top: 15px;
  line-height: 1.4;
}
.place-desc {
  margin-top: 15px;
}
.place-buy-btn {
  color: #fff;
  text-decoration: none;
  background-color: #000000;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
}
.place-buy-btn:hover {
  background-color: #cccc;
  color: #000000;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-container {
  background: #ffff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.4s;
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffff;
}
.bx-shopping-bag {
  margin-right: 16px;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 12px;
  opacity: 0.8;
  font-size: 24px;
  line-height: 36px;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000000;
  cursor: pointer;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-top: 12px;
}
.modal-input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 24px;
}
#buy-tickets {
  background-color: #009688;
  border: none;
  width: 100%;
  font-size: 15px;
  padding: 12px;
  text-transform: uppercase;
}
#buy-tickets:hover {
  cursor: pointer;
  opacity: 0.9;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
.modal.open {
  display: flex;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.4;
}
.contact-info i[class*="fa-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-form .form-submit-btn {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  padding: 10px 16px;
  float: right;
  border: none;
}
.map-section img {
  width: 100%;
}
.contact-form .form-submit-btn:hover {
  color: black;
  background-color: #cccc;
  cursor: pointer;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
.socials-list {
  font-size: 24px;
}
.socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.copyright a :hover,
.socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* Mobile */
@media (max-width: 46.1875em) {
  #header {
    overflow: hidden;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #header .search {
    display: none;
  }

  #nav {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }
  #nav > li {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #3333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }
  #content .member-item {
    margin-top: 30px;
    width: 100%;
  }
  #content .member-img {
    width: 60%;
  }
  .s-col-full {
    width: 100% !important;
  }
  .contact-form {
    margin-top: 16px;
  }
  .s-mt-8 {
    margin-top: 8px;
  }
  .s-full-width {
    width: 100% !important;
  }
  .socials-list{
    font-size: 36px;
  }
  #footer .socials-list a{
    margin: 0 4px;
  }
  #footer .copyright a{
    padding: 12px 0;
    display: inline-block;
  }
  .contact-info{
    line-height: 2;
  }
  .contact-submit-btn{
    font-size: 17px;
  }
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
  .contact-info{
    line-height: 2;

  }
  .socials-list{
    font-size: 48px;
  }
  #footer .socials-list a{
    margin: 0 8px;
  }
  #footer .copyright a{
    padding: 12px 0;
    display: inline-block;
  }
}

/* Tablet & mobile */
@media (max-width: 63.9375em) {
  .place-buy-btn{
    padding: 15px 16px;
  }
  .contact-form .form-control{
    padding: 15px;
    font-size: 16px;
  }
  #nav .subnav a {
    padding: 5px 12px;
  }
  .contact-form{
    margin-top: 32px;
  }
}